.EnumInputComponent {
    display: flex;
    align-items: center;
    gap: 10px; /* 要素間のスペースを追加 */
}

.EnumInputComponentLabel {
    margin-right: 10px; /* ラベルとインプットの間にスペースを追加 */
}

.enum-input {
    flex: 0.5; /* インプット要素を可能な限り広げる */
}

button {
    margin-left: 10px; /* ボタンと他の要素の間にスペースを追加 */
}